body{
    font-family: 'Roboto', sans-serif;
    background-color: #e09480;
}

/* navbar css starts here  */
.bg-light{
    background-color: #f2e9e4!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #98c2f5!important;
}

.nav-link{
    color: #8facc9!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(180, 223, 78)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(230, 100, 67)!important;
}