body{
    font-family: 'Roboto', sans-serif;
    background-color: #f2fc99;
}

/* navbar css starts here  */
.bg-light{
    background-color: #ffc9ac!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 2rem;
    color: #00295c!important;
}

.nav-link{
    color: #8facc9!important;
    font-family: 'Noto Sans JP', sans-serif;
}

.nav-link:hover{
    background-color: #ecb7b7;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(180, 223, 78)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(247, 111, 70)!important;
}